/* RESET */
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #a8d8ff, #ffffff, #ffc0cb);
  color: #333;
  text-align: center;
  padding: 20px;
}

/* TÍTULO */
h2 {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

/* NAV */
nav {
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
}

nav a {

  top: 20px;
  right: 20px;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  border-radius: 15px;
  margin: 5px;
  display: inline-block;
  transition: 0.3s;
  font-size: 1.2rem;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* CONTEÚDO */
main {
  max-width: 800px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 20px;
  text-align: left;
}

/* PARÁGRAFOS */
p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* SUBTÍTULOS */
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ff7eb3;
}

/* DESTAQUE */
.subtexto {
  font-size: 1.2rem;
}

/* EFEITO LEVE */
main:hover {
  transform: scale(1.01);
  transition: 0.3s;
}