/* RESET */
* {
  margin: 40px;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #a8d8ff, #ffffff, #ffc0cb);
  color: #333;
  text-align: center;
}

/* NAV */
nav {
  margin: 15px 0;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  border-radius: 15px;
  margin: 5px;
  display: inline-block;
  transition: 0.3s;
  font-size: 1.3rem;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

strong {
  color: #ff69b4;
  font-weight: bold;
}

/* TEXTOS */
main {
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
}

p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.5;
}

.textoInicial {
  margin: 30px auto;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 20px;
  font-size: 110%;
}

/* SEÇÕES */
section {
  margin: 30px 0;
}

/* TABELA EM FORMATO HORIZONTAL */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
}

/* TABELA HORIZONTAL */
tbody {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  /* permite quebrar linha */
}

tr {
  display: contents;
}

/* CARDS */
td {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 25px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
  min-width: 150px;
}

/* HOVER */
td:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.9);
}

/* RESPONSIVO */

tbody {
  flex-direction: horizontal;
  align-items: center;
}

td {
  width: 90%;
  max-width: 300px;
}

/* BOTÕES */
button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #ff9ecb;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff7eb3;
  transform: scale(1.05);
}

/* LINKS */
a {
  color: black;
}

footer {
  margin-top: 40px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  max-width: 1750px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 50px;
  border-radius: 15px;
  transition: 0.3s;

}

.footer-links a:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* subtexto */
.subtexto {
  font-size: 1.5rem;
  color: #000000;
}

.historia {
  margin: 30px auto;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 20px;
  font-size: 110%;
}

.textoInicial {
  font-size: 1.2rem;
  color: #000000;
}

.imagemum {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  /* permite quebrar linha */
}

.imagemum img {
  width: 90%;
  max-width: 800px;
  height: auto;
  border-radius: 50px;
  margin: 50px;
  margin-top: 100px;
  box-shadow: #858383 0px 5px 15px;
}

.imagemdois {
  display: flex;
  flex-direction: row;
  justify-content: right;

  gap: 20px;
  flex-wrap: wrap;
  /* permite quebrar linha */
}

.imagemdois img {
  width: 90%;
  max-width: 800px;
  height: auto;
  border-radius: 50px;
  margin: 50px;
  margin-top: 150px;
  box-shadow: #858383 0px 5px 15px;
}

.imagemdois {
  display: flex;
  flex-direction: row;
  justify-content: right;

  gap: 20px;
  flex-wrap: wrap;
  /* permite quebrar linha */
}

.imagemtres {
  display: flex;
  flex-direction: row;
  justify-content: left;

  gap: 20px;
  flex-wrap: wrap;
  /* permite quebrar linha */
}

.imagemtres img {
  width: 90%;
  max-width: 800px;
  height: auto;
  border-radius: 50px;
  margin: 50px;
  margin-top: 150px;
  box-shadow: #858383 0px 5px 15px;
  margin-bottom: 100px;
}

.video iframe {
  width: 100%;
  max-width: 900px;
  height: 500px;
}